In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn import ensemble
from sklearn.preprocessing import StandardScaler
from sklearn.dummy import DummyClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeClassifier
import xgboost
from sklearn.model_selection import GridSearchCV
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import warnings
warnings.filterwarnings('ignore')
from xgboost import XGBClassifier
from sklearn.model_selection import StratifiedKFold, GridSearchCV
from numpy import nan
from sklearn.ensemble import BaggingClassifier
import os
import cv2

In [2]:
Evyatar_Cohen = r'C:\Users\avida\Downloads\final_files\extraFiles\Training\Evyatar Cohen/'
Nofar_Social_Nuero = r'C:\Users\avida\Downloads\final_files\extraFiles\Training\Nofar Social_Nuero/'
Oriya_Social_Nuero = r'C:\Users\avida\Downloads\final_files\extraFiles\Training\Oriya Social_Nuero/'
Orya_Kalmanovitz = r'C:\Users\avida\Downloads\final_files\extraFiles\Training\Orya Kalmanovitz/'
Revital_Marbel = r'C:\Users\avida\Downloads\final_files\extraFiles\Training\Revital Marbel/'
Shahar_Terner = r'C:\Users\avida\Downloads\final_files\extraFiles\Training\Shahar Terner/'
Shelly_Social_Nuero = r'C:\Users\avida\Downloads\final_files\extraFiles\Training\Shelly Social_Nuero/'
Yael_Hagai = r'C:\Users\avida\Downloads\final_files\extraFiles\Training\Yael Hagai/'
Yoel_Raz = r'C:\Users\avida\Downloads\final_files\extraFiles\Training\Yoel Raz/'

In [3]:
Evyatar_Cohen = [Evyatar_Cohen + i for i in os.listdir(Evyatar_Cohen)]
Nofar_Social_Nuero = [Nofar_Social_Nuero + i for i in os.listdir(Nofar_Social_Nuero)]
Oriya_Social_Nuero = [Oriya_Social_Nuero + i for i in os.listdir(Oriya_Social_Nuero)]
Orya_Kalmanovitz = [Orya_Kalmanovitz + i for i in os.listdir(Orya_Kalmanovitz)]
Revital_Marbel = [Revital_Marbel + i for i in os.listdir(Revital_Marbel)]
Shahar_Terner = [Shahar_Terner + i for i in os.listdir(Shahar_Terner)]
Shelly_Social_Nuero = [Shelly_Social_Nuero + i for i in os.listdir(Shelly_Social_Nuero)]
Yael_Hagai = [Yael_Hagai + i for i in os.listdir(Yael_Hagai)]
Yoel_Raz = [Yoel_Raz + i for i in os.listdir(Yoel_Raz)]

In [4]:
Evyatar_Cohen1=[]
j=0
for i in Evyatar_Cohen:
    df = pd.read_csv(i)
    if 'Spontan' in Evyatar_Cohen[j]:
        df.insert(loc=1, column='Type', value='Spontan')
    elif 'Sync' in Evyatar_Cohen[j]:
        df.insert(loc=1, column='Type', value='Sync')
    elif 'Alone' in Evyatar_Cohen[j]:
        df.insert(loc=1, column='Type', value='Alone')
    j=j+1
    Evyatar_Cohen1.append(df)
Nofar_Social_Nuero1=[]
j=0
for i in Nofar_Social_Nuero:
    df1 = pd.read_csv(i)
    if 'Spontan' in Nofar_Social_Nuero[j]:
        df1.insert(loc=1, column='Type', value='Spontan')
    elif 'Sync' in Nofar_Social_Nuero[j]:
        df1.insert(loc=1, column='Type', value='Sync')
    elif 'Alone' in Evyatar_Cohen[j]:
        df1.insert(loc=1, column='Type', value='Alone')
    j=j+1
    Nofar_Social_Nuero1.append(df1)
Oriya_Social_Nuero1=[]    
j=0
for i in Oriya_Social_Nuero:
    df2 = pd.read_csv(i)
    if 'Spontan' in Oriya_Social_Nuero[j]:
        df2.insert(loc=1, column='Type', value='Spontan')
    elif 'Sync' in Oriya_Social_Nuero[j]:
        df2.insert(loc=1, column='Type', value='Sync')
    elif 'Alone' in Oriya_Social_Nuero[j]:
        df2.insert(loc=1, column='Type', value='Alone')
    j=j+1
    Oriya_Social_Nuero1.append(df2)
Orya_Kalmanovitz1=[]     
j=0
for i in Orya_Kalmanovitz:
    df3 = pd.read_csv(i)
    if 'Spontan' in Orya_Kalmanovitz[j]:
        df3.insert(loc=1, column='Type', value='Spontan')
    elif 'Sync' in Orya_Kalmanovitz[j]:
        df3.insert(loc=1, column='Type', value='Sync')
    elif 'Alone' in Orya_Kalmanovitz[j]:
        df3.insert(loc=1, column='Type', value='Alone')
    j=j+1
    Orya_Kalmanovitz1.append(df3)
Revital_Marbel1=[]     
j=0
for i in Revital_Marbel:
    df4 = pd.read_csv(i)
    if 'Spontan' in Revital_Marbel[j]:
        df4.insert(loc=1, column='Type', value='Spontan')
    elif 'Sync' in Revital_Marbel[j]:
        df4.insert(loc=1, column='Type', value='Sync')
    elif 'Alone' in Revital_Marbel[j]:
        df4.insert(loc=1, column='Type', value='Alone')
    j=j+1
    Revital_Marbel1.append(df4)
Shahar_Terner1=[]    
j=0
for i in Shahar_Terner:
    df5 = pd.read_csv(i)
    if 'Spontan' in Shahar_Terner[j]:
        df5.insert(loc=1, column='Type', value='Spontan')
    elif 'Sync' in Shahar_Terner[j]:
        df5.insert(loc=1, column='Type', value='Sync')
    elif 'Alone' in Shahar_Terner[j]:
        df5.insert(loc=1, column='Type', value='Alone')
    j=j+1
    Shahar_Terner1.append(df5)
Shelly_Social_Nuero1=[]      
j=0
for i in Shelly_Social_Nuero:
    df6 = pd.read_csv(i)
    if 'Spontan' in Shelly_Social_Nuero[j]:
        df6.insert(loc=1, column='Type', value='Spontan')
    elif 'Sync' in Shelly_Social_Nuero[j]:
        df6.insert(loc=1, column='Type', value='Sync')
    elif 'Alone' in Shelly_Social_Nuero[j]:
        df6.insert(loc=1, column='Type', value='Alone')
    j=j+1
    Shelly_Social_Nuero1.append(df6)
Yael_Hagai1=[]     
j=0
for i in Yael_Hagai:
    df7 = pd.read_csv(i)
    if 'Spontan' in Yael_Hagai[j]:
        df7.insert(loc=1, column='Type', value='Spontan')
    elif 'Sync' in Yael_Hagai[j]:
        df7.insert(loc=1, column='Type', value='Sync')
    elif 'Alone' in Yael_Hagai[j]:
        df7.insert(loc=1, column='Type', value='Alone')
    j=j+1
    Yael_Hagai1.append(df7)
Yoel_Raz1=[]  
j=0
for i in Yoel_Raz:
    df8 = pd.read_csv(i)
    if 'Spontan' in Yoel_Raz[j]:
        df8.insert(loc=1, column='Type', value='Spontan')
    elif 'Sync' in Yoel_Raz[j]:
        df8.insert(loc=1, column='Type', value='Sync')
    elif 'Alone' in Yoel_Raz[j]:
        df8.insert(loc=1, column='Type', value='Alone')
    j=j+1
    Yoel_Raz1.append(df8)

In [5]:
Evyatar_Cohen2=pd.concat(Evyatar_Cohen1)
Nofar_Social_Nuero2=pd.concat(Nofar_Social_Nuero1)
Oriya_Social_Nuero2=pd.concat(Oriya_Social_Nuero1)
Orya_Kalmanovitz2=pd.concat(Orya_Kalmanovitz1)
Revital_Marbel2=pd.concat(Revital_Marbel1)
Shahar_Terner2=pd.concat(Shahar_Terner1)
Shelly_Social_Nuero2=pd.concat(Shelly_Social_Nuero1)
Yael_Hagai2=pd.concat(Yael_Hagai1)
Yoel_Raz2=pd.concat(Yoel_Raz1)

In [6]:
lst=[Evyatar_Cohen2,Nofar_Social_Nuero2,Oriya_Social_Nuero2,Orya_Kalmanovitz2,Revital_Marbel2,Shahar_Terner2,Shelly_Social_Nuero2,Yael_Hagai2,Yoel_Raz2]
df_hands_train= pd.concat(lst)
df_hands_train

,Time,Type,Frame ID,Hand Type,# hands,Position X,Position Y,Position Z,Velocity X,Velocity Y,...,Yaw,Wrist Pos X,Wrist Pos Y,Wrist Pos Z,Elbow pos X,Elbow Pos Y,Elbow Pos Z,Grab Strenth,Grab Angle,Pinch Strength
0,335.9984,Spontan,128556,right,2,128.63570,224.0294,-12.295880,-18.26243,-140.54450,...,-1.588251,177.5125,173.5658,-14.569630,276.8753,-33.68264,91.61740,0.0,1.250576,0.0
1,335.9984,Spontan,128556,left,2,-93.24845,143.9423,-37.815970,-109.09820,240.38980,...,0.873458,-147.0455,109.9380,-5.326688,-329.8577,-34.41571,93.88171,0.0,0.014736,0.0
2,336.0150,Spontan,128558,right,2,129.15550,221.9923,-15.001810,47.36464,-64.25022,...,-1.528183,177.7894,171.1952,-14.677850,276.0645,-33.15913,97.88171,0.0,1.069930,0.0
3,336.0150,Spontan,128558,left,2,-94.86554,148.5542,-39.001580,-80.99012,278.60220,...,0.879703,-148.2022,113.0909,-7.375025,-326.9279,-39.97873,85.98000,0.0,0.000000,0.0
4,336.0315,Spontan,128560,right,2,129.87070,220.7944,-18.386810,35.05422,-84.74242,...,-1.461710,178.3730,169.9159,-15.246240,276.1767,-30.72506,104.13920,0.0,0.916969,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,856.2631,Sync,67309,right,2,101.91230,212.0264,42.535680,79.95810,113.41030,...,-0.574317,131.8590,149.6264,66.098530,283.6185,-58.03491,95.29868,0.0,0.000000,0.0
4496,856.2958,Sync,67311,left,2,-81.57359,183.5054,-7.185198,-63.24731,121.75270,...,0.459446,-109.7250,130.7078,34.033600,-295.5957,-14.97817,140.02630,0.0,0.000000,0.0
4497,856.2958,Sync,67311,right,2,103.84750,214.7484,47.070820,61.11773,95.13531,...,-0.612753,134.0416,151.5924,68.176930,288.9688,-54.13820,94.23959,0.0,0.000000,0.0
4498,856.3295,Sync,67314,left,2,-84.05124,187.8450,-5.172269,-57.17249,109.20360,...,0.434273,-109.5167,131.6489,33.329450,-282.9649,-31.35462,135.07610,0.0,0.000000,0.0
4499,856.3295,Sync,67314,right,2,106.11880,218.0190,53.588680,25.46704,72.26683,...,-0.690703,137.0708,154.2158,71.469250,289.6567,-53.67185,93.98731,0.0,0.000000,0.0

In [14]:
df_hands_train['Time'].groupby

<bound method Series.groupby of 0       335.9984
1       335.9984
2       336.0150
3       336.0150
4       336.0315
          ...
4495    856.2631
4496    856.2958
4497    856.2958
4498    856.3295
4499    856.3295
Name: Time, Length: 190962, dtype: float64>

In [7]:
df_hands_train.columns

Index(['Time', 'Type', ' Frame ID', ' Hand Type', ' # hands', ' Position X',
       ' Position Y', ' Position Z', ' Velocity X', ' Velocity Y',
       ' Velocity Z', ' Pitch', ' Roll', ' Yaw', ' Wrist Pos X',
       ' Wrist Pos Y', ' Wrist Pos Z', ' Elbow pos X', ' Elbow Pos Y',
       ' Elbow Pos Z', ' Grab Strenth', ' Grab Angle', ' Pinch Strength'],
      dtype='object')

In [8]:
df_hands_train_col=['Index','Time1', 'Type1', ' Frame ID1', ' Hand Type1', ' # hands1', ' Position X1',
       ' Position Y1', ' Position Z1', ' Velocity X1', ' Velocity Y1',
       ' Velocity Z1', ' Pitch1', ' Roll1', ' Yaw1', ' Wrist Pos X1',
       ' Wrist Pos Y1', ' Wrist Pos Z1', ' Elbow pos X1', ' Elbow Pos Y',
       ' Elbow Pos Z1', ' Grab Strenth1', ' Grab Angle1', ' Pinch Strength1']
                    

for i in df_hands_train_col:
    df_hands_train[i]=np.nan

In [9]:
df_hands_train

,Time,Type,Frame ID,Hand Type,# hands,Position X,Position Y,Position Z,Velocity X,Velocity Y,...,Roll1,Yaw1,Wrist Pos X1,Wrist Pos Y1,Wrist Pos Z1,Elbow pos X1,Elbow Pos Z1,Grab Strenth1,Grab Angle1,Pinch Strength1
0,335.9984,Spontan,128556,right,2,128.63570,224.0294,-12.295880,-18.26243,-140.54450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,335.9984,Spontan,128556,left,2,-93.24845,143.9423,-37.815970,-109.09820,240.38980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,336.0150,Spontan,128558,right,2,129.15550,221.9923,-15.001810,47.36464,-64.25022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,336.0150,Spontan,128558,left,2,-94.86554,148.5542,-39.001580,-80.99012,278.60220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,336.0315,Spontan,128560,right,2,129.87070,220.7944,-18.386810,35.05422,-84.74242,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,856.2631,Sync,67309,right,2,101.91230,212.0264,42.535680,79.95810,113.41030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4496,856.2958,Sync,67311,left,2,-81.57359,183.5054,-7.185198,-63.24731,121.75270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4497,856.2958,Sync,67311,right,2,103.84750,214.7484,47.070820,61.11773,95.13531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4498,856.3295,Sync,67314,left,2,-84.05124,187.8450,-5.172269,-57.17249,109.20360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4499,856.3295,Sync,67314,right,2,106.11880,218.0190,53.588680,25.46704,72.26683,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_hands_train

Itiel_Lab = r'C:\Users\avida\Downloads\final_files\extraFiles\Validation\Itiel Lab/'
Mor_SHerman = r'C:\Users\avida\Downloads\final_files\extraFiles\Validation\Mor SHerman/'
Oded_Medina = r'C:\Users\avida\Downloads\final_files\extraFiles\Validation\Oded Medina/'
Itiel_Lab = [Itiel_Lab + i for i in os.listdir(Itiel_Lab)]
Mor_SHerman = [Mor_SHerman + i for i in os.listdir(Mor_SHerman)]
Oded_Medina = [Oded_Medina + i for i in os.listdir(Oded_Medina)]

In [ ]:
Itiel_Lab1=[]
j=0
for i in Itiel_Lab:
    df9 = pd.read_csv(i)
    if 'Spontan' in Itiel_Lab[j]:
        df9.insert(loc=1, column='Type', value='Spontan')
    elif 'Sync' in Itiel_Lab[j]:
        df9.insert(loc=1, column='Type', value='Sync')
    elif 'Alone' in Itiel_Lab[j]:
        df9.insert(loc=1, column='Type', value='Alone')
    j=j+1
    Itiel_Lab1.append(df9)
Mor_SHerman1=[]
j=0
for i in Mor_SHerman:
    df10 = pd.read_csv(i)
    if 'Spontan' in Mor_SHerman[j]:
        df10.insert(loc=1, column='Type', value='Spontan')
    elif 'Sync' in Mor_SHerman[j]:
        df10.insert(loc=1, column='Type', value='Sync')
    elif 'Alone' in Mor_SHerman[j]:
        df10.insert(loc=1, column='Type', value='Alone')
    j=j+1
    Mor_SHerman1.append(df10)
Oded_Medina1=[]
j=0
for i in Oded_Medina:
    df11 = pd.read_csv(i)
    if 'Spontan' in Oded_Medina[j]:
        df11.insert(loc=1, column='Type', value='Spontan')
    elif 'Sync' in Oded_Medina[j]:
        df11.insert(loc=1, column='Type', value='Sync')
    elif 'Alone' in Oded_Medina[j]:
        df11.insert(loc=1, column='Type', value='Alone')
    j=j+1
    Oded_Medina1.append(df11)

In [ ]:
Itiel_Lab3=pd.concat(Itiel_Lab1)
Mor_SHerman3=pd.concat(Mor_SHerman1)
Oded_Medina3=pd.concat(Oded_Medina1)
list=[Itiel_Lab3,
Mor_SHerman3,
Oded_Medina3]
df_hands_test= pd.concat(list)
df_hands_test = df_hands_test.drop(['Time',' Frame ID'],axis=1)
df_hands_test